.container {
  width: 700px;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

.buttonblock {
  width: 150px;
  height: 100px;
}

.mainbody {
  justify-content: center;
  display: flex;
}

@media (max-width: 1370px) {
  .container {
    width: 500px;
    height: 300px;
  }

}